*~

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.wixobj

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

codereview.rc

*.exe
*.test
*.prof
.gopath
.vscode
.idea
vendor/pkg
sftp-config.json

testdata/resources/data
testdata/artifacts

integration_test.go
